<!-- New note -->
<div class="container">
  <h2 *ngIf="!id" class="display-2 my-3">New note</h2>
  <h2 *ngIf="id" class="display-2 my-3">Edit note</h2>

  <form [formGroup]="noteForm" (ngSubmit)="handleSubmit()">
    <div class="form-group">
      <label for="title">Title</label>
      <input
        type="text"
        class="form-control is-invalid"
        id="title"
        placeholder="Title"
        formControlName="title"
        [class.is-invalid]="title?.invalid && (title?.dirty || title?.touched)"
        [class.is-valid]="title?.valid"
        required
      />
      <div class="invalid-feedback">Please provide a title!</div>
    </div>
    <div class="form-group">
      <label for="text">Text</label>
      <textarea
        class="form-control"
        id="text"
        formControlName="text"
        rows="5"
        [class.is-invalid]="text?.invalid && (text?.dirty || text?.touched)"
        [class.is-valid]="text?.valid"
        required
      ></textarea>
      <div class="invalid-feedback">Please provide a description!</div>
    </div>

    <button
      *ngIf="!id"
      type="submit"
      class="btn btn-primary"
      [disabled]="noteForm.invalid"
      (click)="noteService.setSelectedNote(null)"
    >
      Create
    </button>
    <button
      *ngIf="id"
      type="submit"
      class="btn btn-primary"
      [disabled]="noteForm.invalid"
      (click)="noteService.setSelectedNote(null)"
    >
      Edit
    </button>
  </form>
</div>
